# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/

# Database
db.sqlite3

# Django migrations
*/migrations/*

# Temporary files
tmp/
*.swp

# Virtual environment
venv/
.env/

# IDEs and editors
.vscode/
.idea/
mysite_data.json
.env
ssl/
nginx.conf
docker-compose.yml
staticfiles/