<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Логотип -->
            <a class="navbar-brand logo-mini" href="{% url 'forum:home' %}">
                <img src="/media/logos/logo-mini.webp" alt="Logo" class="d-inline-block align-text-top logo-mini">
            </a>
            
            <!-- Название сайта по центру -->
            <span class="navbar-text mx-auto text-white">
                <a href="{% url 'forum:home' %}" class="text-decoration-none text-white fs-4">Rozmova.eu</a>
            </span>
            
            <!-- Бургер-меню для мобильных устройств -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarNav">

                <!-- Строка поиска -->
                <form class="d-flex me-auto ms-lg-3" role="search" method="get" action="{% url 'forum:thread_list' %}">
                    <input class="form-control me-2" type="search" name="q" placeholder="Пошук" aria-label="Search" value="{{ request.GET.q }}">
                    <button class="btn btn-outline-success" type="submit">Пошук</button>
                </form>

                <!-- Навигационные ссылки -->
                <div class="navbar-nav ms-auto me-3">
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'users:profile' %}">Профіль</a>
                    <a class="nav-link" href="{% url 'users:logout' %}">Вихід</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'users:login' %}">Увійти</a>
                    <a class="nav-link" href="{% url 'users:register' %}">Реєстрація</a>
                    {% endif %} 
                </div>

            </div>
        </div>
    </nav>
</header>

<!-- Подключаем select2 для улучшенного выпадающего списка с поиском -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


