{% extends "base.html" %}
{% block title %}Login {% endblock title %}


{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Авторизація на форумі</h2>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="email" class="form-label">{{ form.username.label_tag }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                        <div class="text-danger">
                            {% for error in form.username.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">{{ form.password.label_tag }}</label>
                    {{ form.password }}
                    {% if form.password.errors %}
                        <div class="text-danger">
                            {% for error in form.password.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember">
                    <label class="form-check-label" for="remember">Запам'ятати мене</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Увійти</button>
                {% if form.non_field_errors %}
                    <div class="text-danger mt-2">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <!-- Links under the login button -->
                <div class="d-flex justify-content-between mt-3">
                    <div>
                        <a href="{% url "users:password_reset" %}">Забули пароль?</a>
                    </div>
                    <div>
                        <a href="{% url 'users:register' %}" class="btn btn-link p-0">Зареєструватися</a>
                    </div>
                </div>
            </form>
            <div class="text-center mt-4">
                <p>Або увійдіть через:</p>         
                <form method="post" action="{% url 'google_login' %}" class="text-center">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100 mb-2">
                            Продовжити з Google
                    </button>
                </form>
                {% comment %} <button class="btn btn-primary w-100">Увійти через Facebook</button> {% endcomment %}
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock content %}
