

.comment-content {
    word-wrap: break-word; /* Разрывает длинные слова, чтобы они не выходили за пределы блока */
    overflow-wrap: break-word; /* Для дополнительной совместимости с другими браузерами */
    white-space: pre-line;
}

.thread-text {
    white-space: pre-line;  /* Сохраняет переносы строк */
}




